In [ ]:
#추가
배열 = [1, 2, 3, 4, 5]
print(배열)

[1, 2, 3, 4, 5]

In [ ]:
# 6을 추가하고 싶다.
배열.append(6)
print(배열)
배열 .append([1, 2]) # 배열에 넣을 수 있는 자료형이 모두 가능

[1, 2, 3, 4, 5, 6, 6, 6, 6, [1, 2], 6, 6]

In [ ]:
dir(배열)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
배열2 = [3, 10, 19, 100, 1, 17]

In [ ]:
print(배열2)

[3, 10, 19, 100, 1, 17]

In [ ]:
배열2.sort()

In [ ]:
print(배열2)

[1, 3, 10, 17, 19, 100]

In [ ]:
문자열배열 = ['z', 'd', 'g', 'w', '가', '다', '나,']
print(문자열배열)

['z', 'd', 'g', 'w', '가', '다', '나,']

In [ ]:
문자열배열.sort() # 영어와 한글이 있을 땐 영어 먼저 그다음에 한글
print(문자열배열)

['d', 'g', 'w', 'z', '가', '나,', '다']

In [ ]:
배열3 = [5, 3, 1]
print(배열3)

[5, 3, 1]

In [ ]:
배열3.reverse()
print(배열3) # 배열의 순서만 그대로 반대로 해줌

[1, 3, 5]

In [ ]:
섞인거2 = [1, 10, 3, 'b', 'c', 'd']
print(섞인거2)

[1, 10, 3, 'b', 'c', 'd']

In [ ]:
섞인거2.reverse()
print(섞인거2)

['d', 'c', 'b', 3, 10, 1]

In [ ]:
배열4 = [1,2,[1, 2, 3]]
print(배열4)

[1, 2, [1, 2, 3]]

In [ ]:
배열4.reverse()
print(배열4)

[1, 2, [3, 2, 1]]

In [ ]:
배열4[-1].reverse()
print(배열4)

[1, 2, [3, 2, 1]]

In [ ]:
배열4.reverse()
print(배열4)

[[3, 2, 1], 2, 1]

In [ ]:
숫자 = 1

In [ ]:
숫자 = 숫자 + 1
print(숫자)

2

In [ ]:
#배열.index(찾고자하는 값)
음식 = ['라면', '떡볶이', '커피', '짜장면', '파스타', '피자', '불족']
불족인덱스 = 음식.index('불족')
print(불족인덱스)

5

In [ ]:
# 배열안에 없는 값을 찾으려고 하면 에러변환!
음식.index('소고기')

ValueError: ignored

In [ ]:
음식.insert(불족인덱스, '소고기')
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족']

In [ ]:
음식.pop() #pop 맨 뒤에걸 빼오는것, 그 값에서는 빠져서 없어짐
           #배열.pop(인덱스), 인덱스 값이 없으면 맨뒤값이 기본값

'불족'

In [ ]:
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기']

In [ ]:
음식.pop(2)

'커피'

In [ ]:
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기']

In [ ]:
음식.remove('파스타')

print(음식)

['라면', '떡볶이', '짜장면']

In [ ]:
꺼낸음식 = 음식.pop() # 꺼내서 넘겨주기. 꺼내고 갖고 있음
print(꺼낸음식)

IndexError: ignored

In [ ]:
삭제 = 음식.remove('떡볶이') #삭제는 없어짐.
print(삭제)

ValueError: ignored

In [ ]:
배열5 = [1,1,1,2,3,4,4, '하이', '하이',1,2]
하이개수 = 배열5.count('하이')
print(하이개수)

2

In [ ]:
일의개수 = 배열5.count(1)
print(일의개수)

4

In [ ]:
없는것 = 배열5.count('집행검')
print(없는것)

0

In [ ]:
배열6 = [1,2,3]
배열7 = [4,5,6]
배열6.extend(배열7) # => 배열6이 바뀐것임
print(배열6)
print(배열7)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [ ]:
배열8 = [1,2,3]
배열9 = 배열8.copy()
print(배열8, "배열8")
print(배열9, "배열9")
배열9[0] = 10
print(배열8, "배열8")
print(배열9, "배열9")

[1, 2, 3] 배열8
[1, 2, 3] 배열9
[10, 2, 3] 배열8
[10, 2, 3] 배열9

In [ ]:
배열10 = [1,2,3,4,5]
print(배열10, "클리어 이전")
배열10.clear()
print(배열10, "클리어 후")

[1, 2, 3, 4, 5] 클리어 이전
[] 클리어 후

# 투플

In [ ]:
튜플 = (1,2,3)
print(튜플)

(1, 2, 3)

In [ ]:
샘플배열 = [1,2,3]
print(샘플배열)\
#값 삭제, 다 삭제가능
del 샘플배열[0]
print(샘플배열)

[1, 2, 3]
[2, 3]

In [ ]:
튜플1 = (1,2,3,[1,2,3]) #튜플안의 값은 바꿀 수 없지만 튜플 안의 값 안의 값을 바꾼것임
print(튜플1)
튜플1[-1][0] = 10
print(튜플1)

(1, 2, 3, [1, 2, 3])
(1, 2, 3, [10, 2, 3])

# 딕셔너리

In [ ]:
딕셔너리 = {'키':'값'}
print(딕셔너리)
print(딕셔너리['키'])

{'키': '값'}
값

In [ ]:
print(type(딕셔너리))

<class 'dict'>

In [ ]:
회원정보 = {
    '이름' : '이종진',
    '번호' : '010-8424-9660',
    '성별' : '남'
}
print(회원정보)

{'이름': '이종진', '번호': '010-8424-9660', '성별': '남'}

In [ ]:
print(회원정보['이름'])
print(회원정보['번호'])
print(회원정보['성별'])

이종진
010-8424-9660
남

In [ ]:
회원정보['주소'] = '제주시'
print(회원정보['주소'])

제주시

In [ ]:
회원정보['번호'] = '010-0000-0000'
print(회원정보)

{'이름': '이종진', '번호': '010-0000-0000', '성별': '남', '주소': '제주시'}

In [ ]:
#중복되는 키 허용 X

In [ ]:
회원정보.keys()

dict_keys(['이름', '번호', '성별', '주소'])

In [ ]:
dir(회원정보)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
회원정보키 = 회원정보.keys()
회원정보값 = 회원정보.values()
print(회원정보키, "키")
print(회원정보값, "값")

dict_keys(['이름', '번호', '성별', '주소']) 키
dict_values(['이종진', '010-0000-0000', '남', '제주시']) 값

In [ ]:
print([회원정보, 회원정보])

[{'이름': '이종진', '번호': '010-0000-0000', '성별': '남', '주소': '제주시'}, {'이름': '이종진', '번호': '010-0000-0000', '성별': '남', '주소': '제주시'}]

In [ ]:
회원정보.get('이름')

'이종진'

In [ ]:
샘플딕셔너리 = {
    "배열1":[1,2,3]
}
배열get = 샘플딕셔너리.get("배열2") #없는 키값은 none으로 없다고 알려줌

In [ ]:
print(배열get)

None

In [ ]:
'이름' in 회원정보

True

In [ ]:
'직업' in 회원정보

False

# Bool 자료형

In [ ]:
print(True)

True

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(False)

False

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
숫자1 = 10
숫자2 = 20

In [ ]:
결과1 = 숫자1 < 숫자2
print(결과1)

True

In [ ]:
결과2 = 숫자1 > 숫자2
print(결과2)

False

In [ ]:
결과3 = 숫자1 >= 숫자2
print(결과3)

False

In [ ]:
결과3 = 숫자1 >= 숫자2
결과4 = 숫자1 >= 숫자2
결과5 = 숫자1 == 숫자2
결과6 = 숫자2 != 숫자2
print(결과3)
print(결과4)
print(결과5)
print(결과6)

False
False
False
False

# 조건문

In [ ]:
# if True/False 가 들어간다.
if False:
    print("거짓입니다.")

In [ ]:
if True:
    print("참입니다.")

참입니다.

In [ ]:
not True

False

In [ ]:
if not False:
    print("거짓입니다.")

거짓입니다.

In [ ]:
if not False:
    print("거짓말입니다.")
else:
    print("조건에 맞는것이 없습니다.")

In [ ]:
조건 = True
if not 조건:
    print("거짓말입니다.")
else:
    print("조건에 맞는것이 없습니다.")

조건에 맞는것이 없습니다.

In [ ]:
숫자1 = 1
숫자2 = 10
숫자3 = 15
if 숫자1>5:
    print("숫자1이 5보다 큽니다.")
elif 숫자2<11:
    print("숫자2가 11보다 작습니다.")
else:
   print(숫자3, "마지막 숫자입니다.")

숫자2가 11보다 작습니다.

# 논리연산

In [ ]:
print(False and False)

False

In [ ]:
print(True and False) # and : 둘다 참이어야 참

False

In [ ]:
print(True or False) # or : 둘 중 하나만 참이어도 참

True

In [ ]:
입력받은값 = input()

10

In [ ]:
print(입력받은값 > 5)

TypeError: ignored

In [ ]:
print(type(입력받은값))

<class 'str'>

In [ ]:
입력받은숫자 = int(입력받은값)

In [ ]:
print(type(입력받은숫자))

<class 'int'>

In [ ]:
첫번째숫자 = input()
두번째숫자 = input()

첫번째숫자임 = int(첫번째숫자)
두번째숫자임 = int(두번째숫자)

if (첫번째숫자임 > 두번째숫자임): #숫자 2개를 입력받아서 비교함
    print("첫번째 숫자가 큽니다.")
elif (첫번째숫자임 == 두번째숫자임):

    print("숫자가 같습니다.")
else :
    print("두번째 숫자가 큽니다.")

329175987098372498
988721983758971093847
두번째 숫자가 큽니다.

# 반복문

In [ ]:
# while True인 동안:
카운트 = 0
while 카운트 < 10:
  print(카운트)
  카운트 = 카운트 + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# while True인 동안:
카운트 = 0
while 카운트 < 10:
  print(카운트)
  카운트 = 카운트 + 1
  break

0

In [ ]:
for 숫자 in [10,1,2,3,4]:
    print(숫자)

10
1
2
3
4

In [ ]:
레인지 = range(10) # 0부터 9까지

In [ ]:
print(레인지) #순서가 있음

range(0, 10)

In [ ]:
for 숫자 in range(10):
    if 숫자%2 == 1:
        print(숫자)

1
3
5
7
9

In [ ]:
for 숫자 in range(10):
    for 숫자2 in range(5):
        print(숫자, 숫자2)

In [ ]:
for 숫자 in range(2, 10):
    for 숫자2 in range(2, 10):
        print(숫자, "X", 숫자2, "=", 숫자*숫자2,end="")
        print("\n")

In [ ]:
# 아래 로직 계속 실행
# 숫자 입력받기
# 1부터 9까지만 입력을 받을 수 있습니다.
# 입력받은 수의 2,3,4,5,6,7,8,9 곱한값 출력하기
# 0을 입력하면 종료 (문자열 대입 생각 X)
  
숫자 = input()
숫자 = int(숫자)

IndentationError: ignored